commands:
  01:
    command: if [ -z "$(cat /etc/sysctl.conf | grep net.ipv4.tcp_max_tw_buckets)" ] ; then  echo "net.ipv4.tcp_max_tw_buckets = 2000000" >> /etc/sysctl.conf ; fi
  02:
    command: if [ -z "$(cat /etc/sysctl.conf | grep fs.file-max)" ] ; then echo "fs.file-max = 768000" >> /etc/sysctl.conf ; fi
  03:
    command: sysctl -p