commands:
  01:
    command: sed -i 's/worker_connections\ \ 1024/worker_connections\ \ 65535/g' /etc/nginx/nginx.conf
  02:
    command: if [ -z "$(cat /etc/nginx/nginx.conf | grep worker_rlimit_nofile)" ] ; then echo "worker_rlimit_nofile  65535;" >> /etc/nginx/nginx.conf ; fi
  03:
    command: if [ -z "$(cat /etc/hosts | grep docker)" ] ; then echo "172.17.0.2   docker" >> /etc/hosts ; fi