files:
  "/etc/filebeat.yml":
    mode: "00644"
    owner: root
    group: root
    encoding: plain
    content: |
      #=========================== Filebeat prospectors =============================

      filebeat.prospectors:
      - input_type: log
        paths:
          - /var/log/eb-docker/containers/eb-current-app/*.log
        tail_files: true
        multiline.pattern: '^[[:space:]]+(at)\b|^[[:space:]]'
        multiline.negate: false
        multiline.match: after

      fields:
          PRIVATE_KEY: %{CORALOGIX_PRIVATE_KEY}%
          COMPANY_ID: %{CORALOGIX_COMPANY_ID}%
          APP_NAME: %{APP_NAME}%
          SUB_SYSTEM: %{ENV_NAME}%


      #-------------------------- Elasticsearch output ------------------------------
      #output.elasticsearch:
      # Array of hosts to connect to.
      #  hosts: ["localhost:9200"]

      #----------------------------- Logstash output --------------------------------

      output.logstash:
        hosts: ["logstashserver.coralogix.com:5044"]

commands:
  "0_yum_repository_config":
    command: "yum-config-manager --save --setopt=epel.skip_if_unavailable=true"
  "1_get_filebeat":
    command: "curl -L -O https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-6.5.4-x86_64.rpm"
    cwd: /home/ec2-user
  "2_install_filebeat":
    command: "rpm -ivh --replacepkgs filebeat-6.5.4-x86_64.rpm"
    cwd: /home/ec2-user
  "3_move_filebeat_yml":
    command: "cp /etc/filebeat.yml /etc/filebeat/filebeat.yml"
  "4_start_filebeat":
    command: "/etc/init.d/filebeat restart"

